src/java/FileWsdl/ESB_Get_BillingProfileInfo/CustomerPreferenceInfoPS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://api.interfaces.pref.ei.tit.com/" name="CustomerPreferenceInfoPS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://api.interfaces.pref.ei.tit.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://api.interfaces.pref.ei.tit.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="getAccountCustomerPreferenceList" type="tns:getAccountCustomerPreferenceList"/>

      <xs:element name="getAccountCustomerPreferenceListResponse" type="tns:getAccountCustomerPreferenceListResponse"/>

      <xs:element name="getCustomerPreferenceList" type="tns:getCustomerPreferenceList"/>

      <xs:element name="getCustomerPreferenceListResponse" type="tns:getCustomerPreferenceListResponse"/>

      <xs:complexType name="getCustomerPreferenceList">
        <xs:sequence>
          <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
          <xs:element name="pageNumber" type="xs:int" minOccurs="0"/>
          <xs:element name="searchList" type="tns:searchList" minOccurs="0"/>
          <xs:element name="optionalFieldList" type="tns:stringList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchList">
        <xs:sequence>
          <xs:element name="searchInfoArray" type="tns:searchInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="searchInfo">
        <xs:sequence>
          <xs:element name="type" type="xs:string" minOccurs="0"/>
          <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="stringList">
        <xs:sequence>
          <xs:element name="valueArray" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getCustomerPreferenceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:customerPreferenceListResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customerPreferenceListResponse">
        <xs:complexContent>
          <xs:extension base="tns:responseInfo">
            <xs:sequence>
              <xs:element name="calculatedPageSize" type="xs:int"/>
              <xs:element name="customerPreferenceList" type="tns:customerPreferenceList" minOccurs="0"/>
              <xs:element name="totalSize" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="responseInfo">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:string" minOccurs="0"/>
          <xs:element name="message" type="xs:string" minOccurs="0"/>
          <xs:element name="uuid" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customerPreferenceList">
        <xs:sequence>
          <xs:element name="customerInfoArray" type="tns:customerInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="size" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customerInfo">
        <xs:sequence>
          <xs:element name="address" type="tns:addressInfo" minOccurs="0"/>
          <xs:element name="billCycleInfo" type="tns:customerBillCycleInfo" minOccurs="0"/>
          <xs:element name="birthDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="certificateExpirationDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="certificateNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="certificateType" type="xs:string" minOccurs="0"/>
          <xs:element name="contact" type="tns:contactInfo" minOccurs="0"/>
          <xs:element name="contactLanguage" type="xs:string" minOccurs="0"/>
          <xs:element name="creditClass" type="xs:string" minOccurs="0"/>
          <xs:element name="creditLimitIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="customerGrading" type="xs:string" minOccurs="0"/>
          <xs:element name="customerId" type="xs:int" minOccurs="0"/>
          <xs:element name="customerType" type="tns:codeDescriptionInfo" minOccurs="0"/>
          <xs:element name="dealer" type="tns:codeDescriptionInfo" minOccurs="0"/>
          <xs:element name="educationLevel" type="xs:string" minOccurs="0"/>
          <xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="externalId" type="xs:string" minOccurs="0"/>
          <xs:element name="income" type="xs:string" minOccurs="0"/>
          <xs:element name="job" type="xs:string" minOccurs="0"/>
          <xs:element name="largeCustomerIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="lastActivityCode" type="xs:string" minOccurs="0"/>
          <xs:element name="lastActivityReasonCode" type="xs:string" minOccurs="0"/>
          <xs:element name="marketingChannel" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="tns:nameInfo" minOccurs="0"/>
          <xs:element name="nationality" type="xs:string" minOccurs="0"/>
          <xs:element name="occupation" type="xs:string" minOccurs="0"/>
          <xs:element name="offerCurrency" type="xs:string" minOccurs="0"/>
          <xs:element name="periodOfWork" type="xs:string" minOccurs="0"/>
          <xs:element name="personal" type="tns:personalInfo" minOccurs="0"/>
          <xs:element name="registerDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="taxExemptionIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="timeInBusiness" type="xs:string" minOccurs="0"/>
          <xs:element name="totalProduct" type="xs:int" minOccurs="0"/>
          <xs:element name="trueCardGrading" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="addressInfo">
        <xs:sequence>
          <xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
          <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
          <xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
          <xs:element name="addressLine4" type="xs:string" minOccurs="0"/>
          <xs:element name="addressType" type="xs:string" minOccurs="0"/>
          <xs:element name="building" type="xs:string" minOccurs="0"/>
          <xs:element name="city" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string" minOccurs="0"/>
          <xs:element name="district" type="xs:string" minOccurs="0"/>
          <xs:element name="floor" type="xs:string" minOccurs="0"/>
          <xs:element name="houseNo" type="xs:string" minOccurs="0"/>
          <xs:element name="moo" type="xs:string" minOccurs="0"/>
          <xs:element name="roomNo" type="xs:string" minOccurs="0"/>
          <xs:element name="sinceDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="soi" type="xs:string" minOccurs="0"/>
          <xs:element name="street" type="xs:string" minOccurs="0"/>
          <xs:element name="subDistrict" type="xs:string" minOccurs="0"/>
          <xs:element name="zipCode" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="customerBillCycleInfo">
        <xs:sequence>
          <xs:element name="billCycle" type="tns:codeDescriptionInfo" minOccurs="0"/>
          <xs:element name="changeCycleIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="changeCycleReqeustDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="changeCycleRequestStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="newBillCycle" type="xs:short" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="codeDescriptionInfo">
        <xs:sequence>
          <xs:element name="code" type="xs:string" minOccurs="0"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="contactInfo">
        <xs:sequence>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="fax" type="xs:string" minOccurs="0"/>
          <xs:element name="homePhone" type="xs:string" minOccurs="0"/>
          <xs:element name="language" type="xs:string" minOccurs="0"/>
          <xs:element name="officePhone" type="xs:string" minOccurs="0"/>
          <xs:element name="officePhoneExt" type="xs:string" minOccurs="0"/>
          <xs:element name="preferredContactNo" type="xs:string" minOccurs="0"/>
          <xs:element name="privatePhone" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="nameInfo">
        <xs:sequence>
          <xs:element name="branchCode" type="xs:string" minOccurs="0"/>
          <xs:element name="branchName" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="middleName" type="xs:string" minOccurs="0"/>
          <xs:element name="nameType" type="xs:string" minOccurs="0"/>
          <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
          <xs:element name="storeId" type="xs:string" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="personalInfo">
        <xs:sequence>
          <xs:element name="accommodation" type="xs:string" minOccurs="0"/>
          <xs:element name="gender" type="xs:string" minOccurs="0"/>
          <xs:element name="maritalStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="maritalStatusDescription" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAccountCustomerPreferenceList">
        <xs:sequence>
          <xs:element name="pageSize" type="xs:int" minOccurs="0"/>
          <xs:element name="pageNumber" type="xs:int" minOccurs="0"/>
          <xs:element name="searchList" type="tns:searchList" minOccurs="0"/>
          <xs:element name="optionalFieldList" type="tns:stringList" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getAccountCustomerPreferenceListResponse">
        <xs:sequence>
          <xs:element name="return" type="tns:accountCustomerPreferenceListResponse" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="accountCustomerPreferenceListResponse">
        <xs:complexContent>
          <xs:extension base="tns:responseInfo">
            <xs:sequence>
              <xs:element name="accountCustomerPreferenceList" type="tns:accountCustomerPreferenceList" minOccurs="0"/>
              <xs:element name="calculatedPageSize" type="xs:int"/>
              <xs:element name="totalSize" type="xs:int"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType name="accountCustomerPreferenceList">
        <xs:sequence>
          <xs:element name="accountCustomerPreferenceInfoArray" type="tns:accountCustomerPreferenceInfo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="size" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="accountCustomerPreferenceInfo">
        <xs:sequence>
          <xs:element name="account" type="tns:accountInfo" minOccurs="0"/>
          <xs:element name="customer" type="tns:customerInfo" minOccurs="0"/>
          <xs:element name="payChannel" type="tns:payChannelInfo" minOccurs="0"/>
          <xs:element name="system" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="accountInfo">
        <xs:sequence>
          <xs:element name="accountCollection" type="tns:accountCollectionInfo" minOccurs="0"/>
          <xs:element name="accountId" type="xs:int" minOccurs="0"/>
          <xs:element name="accountPriority" type="xs:string" minOccurs="0"/>
          <xs:element name="accountSubType" type="tns:codeDescriptionInfo" minOccurs="0"/>
          <xs:element name="address" type="tns:addressInfo" minOccurs="0"/>
          <xs:element name="agreementId" type="xs:int" minOccurs="0"/>
          <xs:element name="arBalance" type="xs:double" minOccurs="0"/>
          <xs:element name="ben" type="tns:benInfo" minOccurs="0"/>
          <xs:element name="branchNo" type="xs:string" minOccurs="0"/>
          <xs:element name="businessLine" type="xs:string" minOccurs="0"/>
          <xs:element name="classify" type="xs:string" minOccurs="0"/>
          <xs:element name="collectionStatus" type="tns:statusReasonInfo" minOccurs="0"/>
          <xs:element name="company" type="tns:codeDescriptionInfo" minOccurs="0"/>
          <xs:element name="contact" type="tns:contactInfo" minOccurs="0"/>
          <xs:element name="convergenceCode" type="xs:string" minOccurs="0"/>
          <xs:element name="creditLimit" type="tns:accountCreditLimitInfo" minOccurs="0"/>
          <xs:element name="creditStatus" type="tns:statusReasonInfo" minOccurs="0"/>
          <xs:element name="customerId" type="xs:int" minOccurs="0"/>
          <xs:element name="delinquent" type="xs:string" minOccurs="0"/>
          <xs:element name="externalId" type="xs:string" minOccurs="0"/>
          <xs:element name="initiationReason" type="xs:string" minOccurs="0"/>
          <xs:element name="legacyBan" type="xs:string" minOccurs="0"/>
          <xs:element name="name" type="tns:nameInfo" minOccurs="0"/>
          <xs:element name="openDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="ouId" type="xs:long" minOccurs="0"/>
          <xs:element name="parentBan" type="xs:int" minOccurs="0"/>
          <xs:element name="statusDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="taxId" type="xs:string" minOccurs="0"/>
          <xs:element name="withholdingTaxIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="withholdingTaxUpdateDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="accountCollectionInfo">
        <xs:sequence>
          <xs:element name="collectionIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="fullSuspensionIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="punishmentLevels" type="xs:string" minOccurs="0"/>
          <xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="suspensionReason" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="benInfo">
        <xs:sequence>
          <xs:element name="bcBanId" type="xs:int" minOccurs="0"/>
          <xs:element name="ben" type="xs:int" minOccurs="0"/>
          <xs:element name="billLanguage" type="xs:string" minOccurs="0"/>
          <xs:element name="billMedia" type="xs:string" minOccurs="0"/>
          <xs:element name="consolidateIndicator" type="xs:string" minOccurs="0"/>
          <xs:element name="splitParam" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="tns:codeDescriptionInfo" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="statusReasonInfo">
        <xs:sequence>
          <xs:element name="lastActivityDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="reasonCode" type="xs:string" minOccurs="0"/>
          <xs:element name="reasonDescription" type="xs:string" minOccurs="0"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="accountCreditLimitInfo">
        <xs:sequence>
          <xs:element name="creditClass" type="xs:string" minOccurs="0"/>
          <xs:element name="creditLimitExpirationDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="creditLimitReasonCode" type="xs:string" minOccurs="0"/>
          <xs:element name="obligationCalculationFormula" type="xs:string" minOccurs="0"/>
          <xs:element name="personalCreditLimit" type="xs:double" minOccurs="0"/>
          <xs:element name="temporaryCreditLimit" type="xs:double" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="payChannelInfo">
        <xs:sequence>
          <xs:element name="bankAccountNo" type="xs:string" minOccurs="0"/>
          <xs:element name="bankAccountType" type="xs:string" minOccurs="0"/>
          <xs:element name="bankBranchName" type="xs:string" minOccurs="0"/>
          <xs:element name="bankBranchNo" type="xs:string" minOccurs="0"/>
          <xs:element name="bankCode" type="xs:string" minOccurs="0"/>
          <xs:element name="bankName" type="xs:string" minOccurs="0"/>
          <xs:element name="billingArrangementId" type="xs:int" minOccurs="0"/>
          <xs:element name="billingArrangementNo" type="xs:int" minOccurs="0"/>
          <xs:element name="businessEntityId" type="xs:int" minOccurs="0"/>
          <xs:element name="creditCardExpirationDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="creditCardNo" type="xs:string" minOccurs="0"/>
          <xs:element name="creditCardType" type="xs:string" minOccurs="0"/>
          <xs:element name="customerId" type="xs:int" minOccurs="0"/>
          <xs:element name="ddApprovalDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="openDate" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="payChannelNo" type="xs:int" minOccurs="0"/>
          <xs:element name="payChannelStatus" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentCategory" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentMeansOwnerDetails" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentMethodDesc" type="xs:string" minOccurs="0"/>
          <xs:element name="paymentType" type="xs:string" minOccurs="0"/>
          <xs:element name="recurringAmount" type="xs:double" minOccurs="0"/>
          <xs:element name="recurringFrequency" type="xs:string" minOccurs="0"/>
          <xs:element name="recurringFrequencyValue" type="xs:int" minOccurs="0"/>
          <xs:element name="statusDate" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
</xs:schema>
  </types>
  <message name="getAccountCustomerPreferenceList">
    <part name="parameters" element="tns:getAccountCustomerPreferenceList"/>
  </message>
  <message name="getAccountCustomerPreferenceListResponse">
    <part name="parameters" element="tns:getAccountCustomerPreferenceListResponse"/>
  </message>
  <message name="getCustomerPreferenceList">
    <part name="parameters" element="tns:getCustomerPreferenceList"/>
  </message>
  <message name="getCustomerPreferenceListResponse">
    <part name="parameters" element="tns:getCustomerPreferenceListResponse"/>
  </message>
  <portType name="CustomerPreferenceInfoPS">
    <operation name="getAccountCustomerPreferenceList">
      <input wsam:Action="http://api.interfaces.pref.ei.tit.com/CustomerPreferenceInfoPS/getAccountCustomerPreferenceListRequest" message="tns:getAccountCustomerPreferenceList"/>
      <output wsam:Action="http://api.interfaces.pref.ei.tit.com/CustomerPreferenceInfoPS/getAccountCustomerPreferenceListResponse" message="tns:getAccountCustomerPreferenceListResponse"/>
    </operation>
    <operation name="getCustomerPreferenceList">
      <input wsam:Action="http://api.interfaces.pref.ei.tit.com/CustomerPreferenceInfoPS/getCustomerPreferenceListRequest" message="tns:getCustomerPreferenceList"/>
      <output wsam:Action="http://api.interfaces.pref.ei.tit.com/CustomerPreferenceInfoPS/getCustomerPreferenceListResponse" message="tns:getCustomerPreferenceListResponse"/>
    </operation>
  </portType>
  <binding name="CustomerPreferenceInfoPSPortBinding" type="tns:CustomerPreferenceInfoPS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAccountCustomerPreferenceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerPreferenceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerPreferenceInfoPS">
    <port name="CustomerPreferenceInfoPSPort" binding="tns:CustomerPreferenceInfoPSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>