src/java/FileWsdl/ESB_Get_BillingProfileInfo/CustomerHistoryInfoPS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax215="http://response.interfaces.cdm.ei.tit.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.interfaces.cdm.ei.tit.com" xmlns:ax213="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax217="http://customerhistory.datatypes.interfaces.cdm.ei.tit.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://api.interfaces.cdm.ei.tit.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax214="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" xmlns:ax220="http://response.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.interfaces.cdm.ei.tit.com">
            <xs:import namespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:import namespace="http://response.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:element name="getAccountStatusHistoryList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                        <xs:element minOccurs="0" name="searchList" nillable="true" type="ax214:SearchList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountStatusHistoryListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax220:AccountStatusHistoryListResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountHistoryList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="accountId" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAccountHistoryListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax220:AccountHistoryListResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd">
            <xs:complexType name="SearchList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="searchInfoArray" nillable="true" type="ax213:SearchInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SearchInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StatusReasonInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastActivityDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reasonDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax216="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" xmlns:ax219="http://customerhistory.datatypes.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.interfaces.cdm.ei.tit.com/xsd">
            <xs:import namespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:import namespace="http://customerhistory.datatypes.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:complexType name="AccountStatusHistoryListResponse">
                <xs:complexContent>
                    <xs:extension base="ax213:ResponseInfo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="accountHistoryList" nillable="true" type="ax217:AccountHistoryList"/>
                            <xs:element minOccurs="0" name="calculatedPageSize" type="xs:int"/>
                            <xs:element minOccurs="0" name="totalSize" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AccountHistoryListResponse">
                <xs:complexContent>
                    <xs:extension base="ax213:ResponseInfo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="accountHistoryList" nillable="true" type="ax217:AccountHistoryList"/>
                            <xs:element minOccurs="0" name="calculatedPageSize" type="xs:int"/>
                            <xs:element minOccurs="0" name="totalSize" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax218="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://customerhistory.datatypes.interfaces.cdm.ei.tit.com/xsd">
            <xs:import namespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:complexType name="AccountHistoryList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="accountHistoryArray" nillable="true" type="ax217:AccountHistoryInfo"/>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AccountHistoryInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="collectionStatus" nillable="true" type="ax213:StatusReasonInfo"/>
                    <xs:element minOccurs="0" name="creditStatus" nillable="true" type="ax213:StatusReasonInfo"/>
                    <xs:element minOccurs="0" name="openDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAccountStatusHistoryListRequest">
        <wsdl:part name="parameters" element="ns:getAccountStatusHistoryList"/>
    </wsdl:message>
    <wsdl:message name="getAccountStatusHistoryListResponse">
        <wsdl:part name="parameters" element="ns:getAccountStatusHistoryListResponse"/>
    </wsdl:message>
    <wsdl:message name="getAccountHistoryListRequest">
        <wsdl:part name="parameters" element="ns:getAccountHistoryList"/>
    </wsdl:message>
    <wsdl:message name="getAccountHistoryListResponse">
        <wsdl:part name="parameters" element="ns:getAccountHistoryListResponse"/>
    </wsdl:message>
    <wsdl:portType name="CustomerHistoryInfoPSPortType">
        <wsdl:operation name="getAccountStatusHistoryList">
            <wsdl:input message="ns:getAccountStatusHistoryListRequest" wsaw:Action="urn:getAccountStatusHistoryList"/>
            <wsdl:output message="ns:getAccountStatusHistoryListResponse" wsaw:Action="urn:getAccountStatusHistoryListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAccountHistoryList">
            <wsdl:input message="ns:getAccountHistoryListRequest" wsaw:Action="urn:getAccountHistoryList"/>
            <wsdl:output message="ns:getAccountHistoryListResponse" wsaw:Action="urn:getAccountHistoryListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerHistoryInfoPSSoap11Binding" type="ns:CustomerHistoryInfoPSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAccountStatusHistoryList">
            <soap:operation soapAction="urn:getAccountStatusHistoryList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountHistoryList">
            <soap:operation soapAction="urn:getAccountHistoryList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerHistoryInfoPSSoap12Binding" type="ns:CustomerHistoryInfoPSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getAccountStatusHistoryList">
            <soap12:operation soapAction="urn:getAccountStatusHistoryList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountHistoryList">
            <soap12:operation soapAction="urn:getAccountHistoryList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CustomerHistoryInfoPSHttpBinding" type="ns:CustomerHistoryInfoPSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getAccountStatusHistoryList">
            <http:operation location="getAccountStatusHistoryList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAccountHistoryList">
            <http:operation location="getAccountHistoryList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerHistoryInfoPS">
        <wsdl:port name="CustomerHistoryInfoPSHttpSoap11Endpoint" binding="ns:CustomerHistoryInfoPSSoap11Binding">
            <soap:address location="http://localhost:8180/WSDLGenerator/services/CustomerHistoryInfoPS.CustomerHistoryInfoPSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CustomerHistoryInfoPSHttpSoap12Endpoint" binding="ns:CustomerHistoryInfoPSSoap12Binding">
            <soap12:address location="http://localhost:8180/WSDLGenerator/services/CustomerHistoryInfoPS.CustomerHistoryInfoPSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CustomerHistoryInfoPSHttpEndpoint" binding="ns:CustomerHistoryInfoPSHttpBinding">
            <http:address location="http://localhost:8180/WSDLGenerator/services/CustomerHistoryInfoPS.CustomerHistoryInfoPSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>