src/java/FileWsdl/ESB_Get_BillingProfileInfo/ProductHistoryInfoPS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://api.interfaces.cdm.ei.tit.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax266="http://response.interfaces.cdm.ei.tit.com/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax267="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax269="http://producthistory.datatypes.interfaces.cdm.ei.tit.com/xsd" targetNamespace="http://api.interfaces.cdm.ei.tit.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax272="http://response.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.interfaces.cdm.ei.tit.com">
            <xs:import namespace="http://response.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:element name="getProductHistoryList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriberId" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageSize" type="xs:int"/>
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProductHistoryListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax272:ProductHistoryListResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax270="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://producthistory.datatypes.interfaces.cdm.ei.tit.com/xsd">
            <xs:import namespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:complexType name="ProductHistoryList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="size" type="xs:int"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriberStatusHistoryInfoArray" nillable="true" type="ax269:ProductHistoryInfo"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProductHistoryInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="barringByRequestActivityDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="barringByRequestIndicator" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="barringByRequestReasonCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="barringByRequestReasonDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="collectionStatus" nillable="true" type="ax270:StatusReasonInfo"/>
                    <xs:element minOccurs="0" name="creditLimitAtSubStatus" nillable="true" type="ax270:StatusReasonInfo"/>
                    <xs:element minOccurs="0" name="creditStatus" nillable="true" type="ax270:StatusReasonInfo"/>
                    <xs:element minOccurs="0" name="effectiveDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="linkNextProductId" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="linkPrevProductId" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="ax269:SubscriberStatusInfo"/>
                    <xs:element minOccurs="0" name="subscriberId" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SubscriberStatusInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastActivityPathId" nillable="true" type="xs:int"/>
                    <xs:element minOccurs="0" name="statusCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="statusDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusLastActivity" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusReasonCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="statusReasonDescription" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd">
            <xs:complexType name="ResponseInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StatusReasonInfo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lastActivityDate" nillable="true" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="reasonCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="reasonDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax271="http://producthistory.datatypes.interfaces.cdm.ei.tit.com/xsd" xmlns:ax268="http://common.datatype.interfaces.cdm.ei.tit.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.interfaces.cdm.ei.tit.com/xsd">
            <xs:import namespace="http://common.datatype.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:import namespace="http://producthistory.datatypes.interfaces.cdm.ei.tit.com/xsd"/>
            <xs:complexType name="ProductHistoryListResponse">
                <xs:complexContent>
                    <xs:extension base="ax268:ResponseInfo">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="calculatedPageSize" type="xs:int"/>
                            <xs:element minOccurs="0" name="productHistoryList" nillable="true" type="ax271:ProductHistoryList"/>
                            <xs:element minOccurs="0" name="totalSize" type="xs:int"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProductHistoryListRequest">
        <wsdl:part name="parameters" element="ns:getProductHistoryList"/>
    </wsdl:message>
    <wsdl:message name="getProductHistoryListResponse">
        <wsdl:part name="parameters" element="ns:getProductHistoryListResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProductHistoryInfoPSPortType">
        <wsdl:operation name="getProductHistoryList">
            <wsdl:input message="ns:getProductHistoryListRequest" wsaw:Action="urn:getProductHistoryList"/>
            <wsdl:output message="ns:getProductHistoryListResponse" wsaw:Action="urn:getProductHistoryListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProductHistoryInfoPSSoap11Binding" type="ns:ProductHistoryInfoPSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getProductHistoryList">
            <soap:operation soapAction="urn:getProductHistoryList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProductHistoryInfoPSSoap12Binding" type="ns:ProductHistoryInfoPSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getProductHistoryList">
            <soap12:operation soapAction="urn:getProductHistoryList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProductHistoryInfoPSHttpBinding" type="ns:ProductHistoryInfoPSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getProductHistoryList">
            <http:operation location="getProductHistoryList"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProductHistoryInfoPS">
        <wsdl:port name="ProductHistoryInfoPSHttpSoap11Endpoint" binding="ns:ProductHistoryInfoPSSoap11Binding">
            <soap:address location="http://localhost:8080/WSDLGenerator/services/ProductHistoryInfoPS.ProductHistoryInfoPSHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProductHistoryInfoPSHttpSoap12Endpoint" binding="ns:ProductHistoryInfoPSSoap12Binding">
            <soap12:address location="http://localhost:8080/WSDLGenerator/services/ProductHistoryInfoPS.ProductHistoryInfoPSHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProductHistoryInfoPSHttpEndpoint" binding="ns:ProductHistoryInfoPSHttpBinding">
            <http:address location="http://localhost:8080/WSDLGenerator/services/ProductHistoryInfoPS.ProductHistoryInfoPSHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>